extends layout

block content
  h1 Home
  ul
    li: a(href='/books' + loginInfo) Books
    li: a(href='/titles' + loginInfo) Titles
    li: a(href='/vendors' + loginInfo) Vendors
    li: a(href='/authors' + loginInfo) Authors
