extends layout

block content
  h1 Home
  ul
    li: a(href='/books/1' + loginInfo) Books
    li: a(href='/titles/1' + loginInfo) Titles
    li: a(href='/vendors/1' + loginInfo) Vendors
    li: a(href='/authors/1' + loginInfo) Authors
    if admin
      li: a(href='/customers/1' + loginInfo) Customers
