doctype html
html
  head
    title Book Store
  body
    a(href='/' + loginInfo) Home
    br
    if !admin && loginInfo
      div Welcome 
        a(href='/profile/' + id + loginInfo) #{username}
        br
        a(href='/cart' + loginInfo) Cart
      br
    else if loginInfo
      div Welcome #{username}
      br
        
    if path != '/login' && !loginInfo
      a(href='/login' + loginInfo) Login
    else if path != '/login'
      a(href='/') Logout
    
    if path != '/register' && !loginInfo
      | 
      a(href='/register') Register
      
    block content
    br
    hr
    footer
      p Copyright &copy; 2020
