doctype html
html
  head
    title Book Store
  body
    a(href='/' + loginInfo) Home
    br
    if username && !admin
      div Welcome 
        a(href='/profile/' + username + loginInfo) #{username}
        br
        a(href='/cart' + loginInfo) Cart
      br
      a(href='/') Logout
    else if username
      div Welcome #{username}
      br
      a(href='/') Logout
    else if path != '/login'
      a(href='/login' + loginInfo) Login
    if path != '/register'
      | 
      a(href='/register') Register
      
    block content
    br
    hr
    footer
      p Copyright &copy; 2020
