extends layout

block content
  if success
    h3 successfully logged in!
  else
    h1 Customer Login
    form
      input(type='text' name='username' placeholder='username')
      input(type='password' name='password' placeholder='Password')
      input(type='hidden' name='admin' value=0)
      input(type='submit' value='Login')
    br
    h1 Admin Login
    form
      input(type='text' name='username' placeholder='username')
      input(type='password' name='password' placeholder='Password')
      input(type='hidden' name='admin' value=1)
      input(type='submit' value='Login')
