extends layout

block content
    h1 Register
    form
      input(type='text' name='customer_id' placeholder='customer_id')
      input(type='password' name='password' placeholder='Password')
      input(type='name' name='name' placeholder='Name')
      input(type='submit' value='Login')
    br
